WORKER=user@192.0.2.2
DRAFTER=dflash2
DENSE=fp8
PARALLEL=8
CONTEXT=262144
MAX_TOKENS=32768
KV=fp8
VISION=1
COMM=roce
SPLIT=1
STREAM_SMOOTH=0
TF_GLM_MULTI_WATCHDOG_S=60
TF_GLM_MULTI_WATCHDOG_EXIT=0
TF_ROCE_WAIT_S=300
MEMORY_RESERVE_GIB=17.6
KV_POOL_GIB=15
DISPLAY_KV_MIB=1792
SPILL_GIB=100
SPILL_DIR=/home/user/.cache/tensorfold-spill
SPILL_MIN_TOKENS=8192
SPILL_HIGHWATER=0.70
SPILL_MIN_FREE_GIB=50
SPILL_FLUSH_S=60
STOP_TIMEOUT=90
IMAGE=tensorfold-glm53:v18-spill-20261006
BASE_IMAGE=nvcr.io/nvidia/pytorch@sha256:7531d90bcbe0e43e1f7363029c7e145ce90eebeb494a7b4695fdba0329d7c3c3
PULL=0
STATE_DIR=/home/user/.local/state/tensorfold-v18-spill
